<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>HTML Template for Scalable Web Application</title>
</head>
<body>
  <form action="/" method="post">
    Input messages: <input name="message" type="text"/>
    <button type="submit">submit</button>
  </form>
  <br/>

  Messages Submitted: <br/>
  <ul th:each="msg:${messages}">
    <li th:text="${msg}">Message Content</li>
  </ul>

  <form action="/query" method="get">
    Query key: <select name="key">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <button type="submit">do query</button>
  </form>

</body>
</html>
